@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --white-color: #fff;
    --dark-color: #033e3b;
    --primary-color: #298783;
    --secondary-color:#eaeff1 ;


    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;

    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    --border-radius-s: 8px;
    --border-radius-m: 30px;
}

body {
    background-color: var(--white-color);
    color: var(--dark-color);
    padding-top: 10px;
}

header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.navbar {
    background: var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 18px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar .nav-logo .logo-text {
    color: var(--white-color);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);

}
.section-content{
    max-width: var(--site-mx-width);
    margin: 0 auto;
    padding: 0 20px;
}

.navbar .nav-menu {
    display: flex;
    gap: 15px;
}

.navbar .nav-menu .nav-item a {
    color: var(--white-color);
    padding: 10px 18px;
    font-size: var(--font-size-m);
    text-decoration: none;
    font-weight: var(--font-weight-medium);
    border-radius: var(--border-radius-m);
    transition: background-color 0.3s ease;
}
.navbar .nav-menu .nav-link {
    padding : 10px 18px;
    color: var(--white-color);
    font-size: var(--font-radius-m);
    border-radius: var(--border-radius-m);
    transition: 0.3s ease;
}

.navbar .nav-menu .nav-link:hover{
    background: var(--secondary-color);
    color:var(--primary-color)

}
.navbar .nav-menu .nav-item a:hover {
    background-color: var(--dark-color);
    color: var(--white-color);
}

.navbar .right-side button {
    background-color: #6C8EBF;
    color: var(--white-color);
    border: none;
    border-radius: var(--border-radius-s);
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    font-family: inherit;
    transition: background-color 0.3s ease;
}

.navbar .right-side button:hover {
    background-color: var(--dark-color);
}

.content-section {
    margin-top: 100px;
    text-align: center;
    padding: 20px;
}

.content-section h1 {
    color: var(--dark-color);
    font-size: var(--font-size-xl);
    margin-bottom: 10px;
}

.content-section h3 {
    color: #6C8EBF;
    font-size: var(--font-size-l);
    margin-bottom: 20px;
}

.footer {
    margin-bottom: 0; /* Remove bottom margin */
    text-align: center;
    color: var(--dark-color);
    font-size: var(--font-size-s);
    padding: 20px 0;
    background: var(--secondary-color);
}
.stButton > button {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: var(--border-radius-s);
    padding: 0.5em 1em;
    font-family: inherit;
    transition: background-color 0.3s ease;
    border: none;
}

.stButton > button:hover {
    background-color: var(--dark-color);
}

