<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neutral - Detecting Biases in Hiring</title>
</head>

<body>
    <header>
        <nav class="navbar section-content">
            <a href="#" class="nav-logo">
                <h2 class="logo-text">Neutral</h2>
            </a>
            <div class="nav-menu">
                <li class="nav-item">
                    <a href="#" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Resume</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Contact us</a>
                </li>
            </div>
        </nav>
    </header>
    <main>
        <section class="hero-section">
            <div class="section-content">
                <div class="hero-details">
                    <center>
                        <h1 class="title">Neutral</h1>
                    </center>
                    <center>
                        <h2 class="subtitle">Detecting Biases in Hiring</h2>
                    </center>
                </div>
            </div>
        </section>
        <section>
            <h1>Was Bias Involved?</h1>
            <nav>
                Bias Buster
            </nav>
            <p>
                Wondering if your hiring decision was fair? Let our AI check the candidate&rsquo;s CV and feedback to
                spot any
                unintended potential bias!
            </p>
        </section>
    </main>
</body>

</html>