<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neutral - Detecting Biases in Hiring</title>
</head>

<body>
    <header>
        <nav class="navbar section-content">
            <a href="#" class="nav-logo">
                <h2 class="logo-text">Neutral</h2>
            </a>
            <div class="nav-menu">
                <li class="nav-item">
                    <a href="#" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Resume</a>
                </li>
                <!-- <li class="nav-item">
                    <a href="#" class="nav-link">Contact us</a>
                </li> -->
            </div>
        </nav>
    </header>
    <main>
        <section class="hero-section">
            <!-- <div class="section-content">
                <div class="hero-details">
                    <center>
                        <h1 class="title">Neutral</h1>
                    </center>
                    <center>
                        <h2 class="subtitle">Detecting Biases in Hiring</h2>
                    </center>
                </div>
            </div> -->
            <div class="landing-div">
                <div class="landing-text">
                    <h1>Fair Decisions, Unbiased Future</h1>
                    <p>
                        Are you concerned about the fairness of your hiring decisions? Neutral is here to help. Our advanced AI tool analyzes candidate CVs, feedback, and evaluations to identify any unintended bias, ensuring your hiring process is fair, transparent, and inclusive. Promote diversity, reduce bias, and make informed decisions with Neutral. Take the next step toward a more equitable hiring process today.
                    </p>
                </div>
                <!-- <div class="landing-img">
                    <img src="../image/landingpage.png" alt="This is landing page">
                </div> -->
            </div>
        </section> 
    </main>
</body>

</html>